<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    You are here:&nbsp;&nbsp;
    <li class="breadcrumb-item"><a href="#">POST Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update - POST</li>
  </ol>
</nav>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Update Data Appearing in the POST Directory</h4>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-1 col-sm-1 col-xs-11">
                                    <div class="font-icon-detail">
                                        <i class="pe-7s-attention" style="font-size: xxx-large;"></i>
                                    </div>
                                </div>
                                <div class="col-md-11 col-sm-11 col-xs-11">
                                    <p>
                                        This website may be used to update data in the POST Directory. The data in the POST Directory is offical Avaya corporate data, and an audit trail is maintained for all updates.
                                        Any abuse of this update capability will be rported to Avaya Corporate Security
                                    </p>
                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Enter Your POST Handle or Personnel Number<a href="#">(About your personnel number)</a></label>
                                            <input id="fullname" type="text" class="form-control" placeholder="j.Smith" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Select Update Option</label>
                                            <div class="row">
                                                <label class="input-lg radio-inline"><input type="radio" name="optradio" checked>People Data</label>
                                                <label class="input-lg radio-inline"><input type="radio" name="optradio">Service Data</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#/people" type="submit" class="btn btn-info btn-fill pull-left">Continue</a>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="margin-bottom:50px;margin-top:20px;">You will receive a customized report on what options your
                                    have to update data in the POST directory, including information appearing in people entries,
                                    organizational and locational data, and information about Avaya services and clubs.</p>
                                </div>
                            </div>
                            <p>
                                Help:&nbsp;<a href="http://itss.avaya.com">http://itss.avaya.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
