<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    You are here:&nbsp;&nbsp;
    <li class="breadcrumb-item"><a href="#">POST Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Help</li>
  </ol>
</nav>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Help</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <p class="query-type-text"><a href="#">Ask the FAQ</a>&ngsp;|&ngsp;<a href="#">Get Help Now</a>&ngsp;|&ngsp;<a href="#">Feedback</a></p>
                        </div>
                        <div class="row">
                            <ul>
                                <li><a href="#">Getting Started</a>&nbsp;<a href="#">FAQs</a>&nbsp;<a href="#">Query Help</a>&nbsp;</li>
                                <li>Get Help Now: Call the IBM Boulder Help Desk for at support +1-866-282-9248. for problems with HR/SAP, Global Messaging Operations, and POST</li>
                                <li>Handles:<a href="#">What is a Handle?</a>&nbsp;<a href="#">Avaya Handle Policy</a>&nbsp;<a href="#">Official POST Handle Checker</a>&nbsp;</li>
                                <li>Access Alternate POST Web Servers:<a href="#"></a>&nbsp;(Bookmark these alternate addresses)</li>
                                <li>Other Directories:<a href="#">External Directories</a>&nbsp;<a href="#">Express Package Tracking</a>&nbsp;</li>
                                <li>POST Updates for:<a href="#">First/Second Entry</a>&nbsp;<a href="#">Service</a>&nbsp;<a href="#">Virtual Office</a>&nbsp;<a href="#">Contractor</a>&nbsp;</li>
                                <li>Other POST Information:<a href="#">Database Attributes</a>&nbsp;<a href="#">POST Fields</a>&nbsp;<a href="#">Reporting Hierarchy Tutorial</a>&nbsp;<a href="#">Cost Center Tutorial</a>&nbsp;</li>
                                <li>LDAP Applications: The functionality is supported by Avaya Enterprise Directory
                                    <ul>
                                        <li>LDAP Server:306181gdc1.global.avaya.com</li>
                                        <li>Base DN: ou=Global User, dc=global, dc=avaya, dc=com</li>
                                        <li>Port number:389</li>
                                        <li>Contact: GMO Team(GMO@avaya.com)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <p>
                            Help:&nbsp;<a href="http://itss.avaya.com">http://itss.avaya.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
